/* Write your code here. */
.bg-container {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
.image {
  width: 95%;
  height: 50%;
  max-height: 500px;
  border-radius: 12px;
}
.img-discription {
  color: #1e293b;
  font-size: 34px;
  font-weight: 500;
  font-family: 'Roboto';
  align-self: flex-start;
  padding-left: 25px;
}
.img-list-heading {
  color: #64748b;
  font-size: 20px;
  font-weight: 400;
  font-family: 'Roboto';
  align-self: flex-start;
  padding-left: 25px;
}
.img-list-container {
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  width: 90%;
}
